<%= if Enum.any?(@search_names) do %>
  <.simple_form for={@search_form} id="searches" phx-change="select_search">
    <.input field={@search_form[:selected_search]} label="Search" type="select" prompt="-- select search --" options={@search_names} />
  </.simple_form>
<% end %>

<%= if Enum.any?(@bugs) do %>
  <ul id="bugs" phx-window-keyup="key_up">
    <li :for={b <- @bugs} id={"bug-#{b.id}"} class={MapSet.to_list(b.css_classes)}>
      <.link href={"https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=#{b.id}"} target="_blank">
	[<%= format_time(b.creation_time) %>]
	<%= b.summary %>
      </.link>
    </li>
  </ul>
<% end %>
