<.simple_form for={@auth_form} id="auth-input" phx-submit="auth">
  <.input field={@auth_form[:email]} label="Email" />
  <.input field={@auth_form[:api_key]} label="API Key" type="password" />
  <button>Authenticate</button>
</.simple_form>

<%= if Enum.any?(@searches) do %>
  <.simple_form for={@search_form} id="searches" phx-change="select_search">
    <.input field={@search_form[:selected_search]} label="Search" type="select" prompt="-- select search --" options={@search_names} />
  </.simple_form>
<% end %>

<%= if Enum.any?(@bugs) do %>
  <ul id="bugs">
    <li :for={b <- @bugs}><a href={"https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=#{b.id}"} target="_blank"><%= b.summary %></a></li>
  </ul>
<% end %>
