<.form action={~p"/"} :let={f} for={@auth_form} id="auth-input" phx-submit="auth">
  <.input field={f[:email]} label="Email" />
  <.input field={f[:api_key]} label="API Key" type="password" />
  <button>Authenticate</button>
</.form>
