@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

#bugs .selected {
    background-color: yellow;
}

#bugs .ignored {
    text-decoration: line-through;
}

#bugs .subscribed {
    font-style: italic;
}
