<.header>
  Edit Document {@document.id}
  <:subtitle>Use this form to manage document records in your database.</:subtitle>
</.header>

<.document_form changeset={@changeset} action={~p"/documents/#{@document}"} />

<.back navigate={~p"/documents"}>Back to documents</.back>
